<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <!-- Importando Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="left-align">
            <h1 class="left-align">Produtos Cadastrados</h1>
            <a class="waves-effect waves-light btn blue lighten-2" href="/products/add">Novo Produto</a>
        </div>
        <hr>
        <div class="row">
            <div class="center-align">
                <table class="responsive-table col s12 ">
                    <thead class="blue lighten-2 white-text">
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody>

                        <% products.forEach(product=> { %>
                            <tr>
                                <td>
                                    <%= product.id %>
                                </td>
                                <td>
                                    <%= product.name %>
                                </td>
                                <td>
                                    <%= product.price %>
                                </td>
                                <td>
                                    <%= product.quantity %>
                                </td>
                                <td>
                                    <a class="waves-effect waves-light btn"
                                        href="/products/view/<%= product.id %>">Detalhes</a>
                                    <a class="waves-effect waves-light btn yellow darken-4"
                                        href="/products/edit/<%= product.id %>">Editar</a>
                                    <a class="waves-effect waves-light btn red darken-4 delete-btn"
                                        href="/products/delete/<%= product.id %>" onclick="return confirm('Você têm certeza que quer apagar este registro?')">Deletar</a>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Importando Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>