<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Lista de Produtos</h1>
    <a href="/products/add">Adicionar Produto</a>
    <ul>
        <% products.forEach(product=> { %>
            <li>
                <%= product.name %> - $<%= product.price %> - <%= product.quantity %> unidades
                <a href="/products/edit/<%= product.id %>">Editar</a>
                <a href="/products/delete/<%= product.id %>">Deletar</a>
            </li>
            <% }); %>
    </ul>
</body>

</html>